 <!DOCTYPE html>
  <html>
    <head>
      <title>フォトこめ</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

    <body>

<div class="top-page">


<header class="header">
    <div class="header__title">
      <h1 class="head__title__left">ポートフォリオ紹介</h1>
        <div class="head__title__right__side">
   　    　<%= link_to "ポートフォリオページへ", tweets_path, method: :get, class: "product__page" %>
        </div>
    </div>
  </header>





<div class="left__content">

<h2>作品名：フォトこめ</h2>

<%= image_tag "product-view.jpg", class: "image__top" %>
<%= image_tag "product-view-under1.png", class: "image__under" %>
<%= image_tag "product-view-under2.png", class: "image__under" %>
<%= image_tag "product-view-under3.jpg", class: "image__under" %>


</div>






<div class="right__content">

<p>Find me in app/views/top/index.html.erb</p>

</div>





  </div>

</div>
</body>
