 <!DOCTYPE html>
  <html>
    <head>
      <title>フォトこめ</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

<body>

<div class="top-page">
<header class="header">
    <div class="header__title">
      <h1 class="head__title__left">ポートフォリオ紹介</h1>
        <div class="head__title__right__side">
          <%= link_to "ポートフォリオページへ", tweets_path, method: :get, class: "product__page" %>
        </div>
    </div>
</header>

<div class="left__content">
  <h2>タイトル：フォトこめ</h2>
  <%= image_tag "product-view.jpg", class: "image__top" %>
  <%= image_tag "product-view-under4.png", class: "image__under" %>
  <%= image_tag "product-view-under2.png", class: "image__under" %>
  <%= image_tag "product-view-under3.jpg", class: "image__under" %>
</div>

<div class="right__content">
  <div class="right__content__top">
    <h4>＜テーマ＞</h4>
    <p>投稿画像をみんなでコメントするアプリ</p>
  </div>
  <div class="right__content__middle1">
     <h4>＜実装機能＞</h4>
     <li>投稿の一覧/作成/更新/削除</li>
     <li>ログイン、ログアウト機能</li>
     <li>投稿画像のアップロード機能</li>
     <li>投稿画像の詳細機能</li>
     <li>ページネーション機能</li>
     <li>投稿画像へのコメント機能</li>
     <li>単体テスト・統合テスト</li>
  </div>
  <div class="right__content__middle2">
    <h4>＜使用技術＞</h4>
    <p>プログラミング言語：HTML、CSS、Ruby</p>
    <p>フレームワーク：Ruby on Rails</p>
    <p>管理ツール：GitHub</p>
    <p>デプロイサーバー：heroku</p>
  </div>
  <div class="right__content__middle3">
    <h4>＜製作日程＞</h4>
    <p>製作開始日：2019年9月24日</p>
    <p>製作期間：12日</p>
  </div>

  <div class="right__content__under">
    <h4>＜自己紹介＞</h4>
    <p>製作者：野口 晃</p>
    <p>一言：モットーは考えすぎる前に行動です。</p>
    <p>趣味：旅行・美術館巡り・適度な筋トレ</p>
    <%= image_tag "scan-003.jpg", class: "image__face" %>
  </div>
 </div>
</div>
</body>