 <!DOCTYPE html>
  <html>
    <head>
      <title>たびフォト</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

    <body>
      <header class= "header">
        <div class= "header__bar">
          <ul class="gmenu">
                <li class="logo" style="float: left">
                  <a href="/">たびフォト</a>
                </li>
                <li class="entry__button" style="float: right">
                  <%= link_to 'サインアウト', "/users/sign_out", method: :delete %>
                </li>
                <li class="post__button" style="float: right">
                  <a href="tweets/new">投稿する</a>
                </li>
              </ul>
</div>
</div>

</header>



    <%= yield %>

    </body>
  </html>
