 <!DOCTYPE html>
  <html>
    <head>
      <title>たびログ</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

    <body>
<header class="header">
    <div class="header__bar">
      <h1 class="head__bar__title"><a href="/">たびログ</a></h1>
      <% if user_signed_in? %>
        <div class="head__bar__right__side">
                <%= link_to "管理画面", management_path, method: :get %>
                <a href="/users/<%= current_user.id %>">マイページ</a>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <a class="post" href="/tweets/new">投稿する</a>
        </div>
      <% else %>
        <div class="head__bar__right__side">
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
    </div>
  </header>

    <%= yield %>

    </body>
  </html>
